[Desktop Entry]
Name=pyPeer Client
Exec=client.sh
Type=Application
Comment=A lightweight peer-to-peer file sharing system for local networks
Terminal=false
Categories=Network;Utility
